/*
TITLE: 		homepage.css
AUTHOR:		Austin Sands
CREATED ON:	04/12/2023
PURPOSE:	Style sheet for apache server homepage
 */

*{
    margin:0 0 6px;
}

body {
    background-color: #438947;
}

body p {
    padding-left: 2em;
}

.flex-container {
	display: flex;
    flex-wrap: wrap;
	justify-content: center;
}

.flex-container > div:not(#image-container){
    width: 40%;
    margin: 15px;
    padding: 15px;
    text-align: center;
    line-height: 2vw;
    font-size: 2vw;
}

#image-container {
    flex-basis: 90%;
}

#image-container > div {
    max-width: 50%;
    margin: auto;
    text-align: center;
    line-height: 4vw;
    font-size: 3vw;
}

div:not(.flex-container, #image-container, #header) {
    background-color: #e8d49b;
    border-radius: 15px;
}

img {
    object-fit: cover;
    max-width: 100%;
}

h1 {
    text-align: center;
}

#header {
    margin: 0;
    padding: 20px;
    text-align: center;
    font-size: 4vw;
    color: white;
    background: #0f2c11;
}

#nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0f2c11;
}

#nav-bar li {
    margin: 0;
    float: left;
}

#nav-bar li a {
    margin: 0;
    display: block;
    color: white;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
}

#nav-bar li a:hover:not(.active) {
    background-color: #050f06;
}

#nav-bar li a.active {
    background-color: #3ac241;
}

@media only screen and (max-width: 600px) {
    #nav-bar li {
        float: none;
    }
}
